# Django Configuration
SECRET_KEY=your-secret-key-here
ALLOWED_HOSTS=localhost,127.0.0.1
# Set 'False' for Production
DEBUG=True

# CORS Configuration
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:3001

# Canvas API Configuration
CANVAS_API_BASE_URL=https://canvas.ualberta.ca

# Production DB Url (leave empty for development)
DB_URl=